
body {
background: #1A45AB;
/*rgba(34,56,2,1);*/
/*rgba(34,56,2,1);*/
color: white;
width: 1024px;




}










selectores. @
selectores– cambian atributos
      etiquetas ejem. p,html,div
      identificador ejem. id
      clases ejem. class
media queries – diseño adaptativo 